# Clerk Auth
VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZnVubnktbW9ua2V5LTU5LmNsZXJrLmFjY291bnRzLmRldiQ

# OAuth Client IDs
GOOGLE_CLIENT_ID=
GITHUB_CLIENT_ID=

# Search & Data APIs
GROQ_API_KEY=
FIRECRAWL_API_KEY=
SUPADATA_API_KEY=
VALYU_API_KEY=
SUPERMEMORY_API_KEY=
